.container{
    width: 100%;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    color: black;
    font-weight: bold;
}

.options-area{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.line1,
.line2{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.option-button{
    width: 46%;
    height: 85%;
    margin: 4px;
    border: 2px solid blanchedalmond;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    cursor: pointer;
}

.option1{
    background-image: url("wallpaper1.jpg");
}

.option2{
    background-image: url("wallpaper2.jpg");
}

.option3{
    background-image: url("wallpaper3.jpg");
}

.option4{
    background-image: url("wallpaper4.jpg");
}

